<h1>User Profile</h1>

<div class="text-center">
  <p><b><%= @user.name %></b></p>
  <p><b><%= @user.email %></b></p>
  <%= link_to "Create an Event", new_event_path, class: "btn btn-lg btn-success" %></p>
  </br>
</div>

<p><b>Upcoming Events</b></p>
<ol>
  <% @upcoming_events.each do |event| %>
    <li><%= event.title %>, <%= event.date %></li>
  <% end %>
</ol>

<p><b>Previous Events</b></p>
<ol>
  <% @prev_events.each do |event| %>
    <li><%= event.title %>, <%= event.date %></li>
  <% end %>
</ol>
